<div class="container">
  <div class="logo">
    <h2>LOGO</h2>
  </div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-input
        label="E-mail"
        labelPlacement="floating"
        placeholder="E-mail"
        type="email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        label="Senha"
        labelPlacement="floating"
        placeholder="Senha"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ion-button class="login-button" expand="block" type="submit"
      >Login</ion-button
    >
    <a>Esqueci minha senha</a>
  </form>
</div>
